@import '../Tokens/common';

.image {
  &__outer {
    position: relative;
  }

  &__placeholder {
    height: 0;
  }

  &__spinner-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  &__skeleton {
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.4s;

    &--hidden {
      opacity: 0;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &--animated {
      transition: opacity ease-in-out 0.4s;
    }

    &--dark {
      display: none;

      @media (prefers-color-scheme: dark) {
        display: unset;
      }
    }

    &--light {
      @media (prefers-color-scheme: dark) {
        display: none;
      }
    }

    &--hidden {
      opacity: 0;
    }
  }
}
