@import '../Tokens/common';

.checkbox {
  display: flex;
  position: relative;
  align-items: center;

  &__input {
    appearance: none;
    margin: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background: $background-color;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 1px #cdcdd7 inset;

    @media (prefers-color-scheme: dark) {
      background: $background-color-invert;
    }

    &--hovering {
      box-shadow: $focus-indicator;

      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }

    &--disabled {
      background: $background-disabled-color;
    }
    &--valid {
      box-shadow: 0 0 0 1px $bpk-color-monteverde inset;
    }
    &--invalid {
      box-shadow: 0 0 0 1px $bpk-color-panjin inset;
    }
  }

  &__check {
    display: none;
    fill: $primary-color;
    fill: var(--checkbox-tick-color, $primary-color);
    color: $primary-color;
    color: var(--checkbox-tick-color, $primary-color);
    position: absolute;
    left: 0.2rem;
    top: 0.2rem;
    pointer-events: none;

    @media (prefers-color-scheme: dark) {
      fill: $primary-color-invert;
      fill: var(--checkbox-tick-color-invert, $primary-color-invert);
      color: $primary-color-invert;
      color: var(--checkbox-tick-color-invert, $primary-color-invert);
    }

    &--checked {
      display: inherit;
    }

    &--valid {
      fill: $bpk-color-monteverde;
      color: $bpk-color-monteverde;
    }
    &--invalid {
      fill: $bpk-color-panjin;
      color: $bpk-color-panjin;
    }
    &--disabled {
      fill: $shadow-color;
      color: $shadow-color;
    }
  }

  &__label {
    margin-left: 0.5rem;
    color: $not-black;
    font-size: 1.2rem;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }

    &--disabled {
      color: $background-disabled-color;
    }
  }
}
