@import '../Tokens/common';

.tag {
  position: relative;
  top: 0.15rem;
  height: 1rem;
  padding: 0.17rem 0.4rem 0.27rem;
  transition: all 0.4s;
  border: none;
  border-radius: 0.2rem;
  background-color: #44aeff;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-decoration-color: transparent;
  text-decoration-line: none;

  &--disabled {
    opacity: 0.3;
    filter: saturate(0.5);
  }

  &--dark-text {
    color: #3c4451;
  }

  &--tech {
    background-color: #fbc02d;
    color: #3c4451;
  }

  &--events {
    background-color: #6a1b9a;
  }

  &--travel {
    background-color: #01579b;
  }

  &--security {
    background-color: #44aeff;
  }

  &--photography {
    background-color: #d84315;
  }
}
