@import '../helpers/tokens';

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

.blog-viewer {
  &__outer {
    display: inline;
    font-family: 'Quattrocento Sans', sans-serif;
    color: $not-black;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }
  }

  &__element {
    display: inline;
    font-family: 'Quattrocento Sans', sans-serif;
  }
}
