@import '~bpk-mixins';
@import '../Tokens/common';

@fontface {
  font-family: 'Quattrocento Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
}

@fontface {
  font-family: 'Tangerine', cursive;
  src: url('https://fonts.googleapis.com/css?family=Tangerine');
}

@fontface {
  font-family: 'Iceland', cursive;
  src: url('https://fonts.googleapis.com/css?family=Iceland');
}

.typography {
  &__main {
    width: 100%;
    padding-bottom: 1rem;
    color: $not-black;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }
  }

  &__paragraph {
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.5;
  }

  &__icon {
    display: inline-flex;
    width: 0.4rem;
    height: 1rem;
    margin-left: 0.55rem;

    &--inner {
      position: absolute;
      max-width: 0.9rem;
      margin-top: 0.12rem;
      margin-left: -0.45rem;
    }
  }

  &__anchor-link {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    opacity: 0.4;
    color: $link-color;
    border-radius: 0.25rem;

    &:active,
    &:focus {
      box-shadow: $focus-indicator;
      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }

    &--no-padding {
      margin-top: -0.16rem;
    }

    @media (prefers-color-scheme: dark) {
      opacity: 1;
    }

    @include bpk-breakpoint-tablet {
      margin-left: 0;
    }

    &--section {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-top: 1.5rem;

      &--no-padding {
        margin-top: 0.1rem;
      }
    }
  }

  &__text {
    color: $not-black;
    font-family: 'Quattrocento Sans', sans-serif;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }

    &--with-anchor-link {
      @include bpk-breakpoint-tablet {
        padding-left: 1.2rem;
      }
    }

    &--subsection {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      text-decoration: none;
    }

    &--section {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 2.2rem;
      text-decoration: none;
    }
  }

  &--fancy {
    font-family: 'Tangerine', cursive;
  }

  &--no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--hovering {
    transition: all 0.4s;
    color: $primary-color !important;
    color: var(--primary-color, $primary-color);
    text-decoration: none;
    fill: $primary-color !important;
    fill: var(--primary-color, $primary-color);
  }

  &--hovering-light {
    transition: all 0.4s;
    color: $primary-color-light !important;
    color: var(--primary-color-light, $primary-color-light);
    text-decoration: none;
    fill: $primary-color-light !important;
    fill: var(--primary-color-light, $primary-color-light);
  }

  &--inline {
    width: auto;
  }

  &__link {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.25rem;

    &--text-link {
      color: $link-color;
      color: var(--link-color, $link-color);
      fill: $link-color;
      fill: var(--link-color, $link-color);

      @media (prefers-color-scheme: dark) {
        color: $link-color-invert;
        color: var(--link-color-invert, $link-color-invert);
        fill: $link-color-invert;
        fill: var(--link-color-invert, $link-color-invert);
      }

      &--all-white {
        color: white;
        fill: white;
      }
    }

    &:focus,
    &:active,
    &:hover {
      color: $primary-color;
      color: var(--link-hover-color, $primary-color);
      fill: $primary-color;
      fill: var(--link-hover-color, $primary-color);
      text-decoration: none;
    }
    &:active,
    &:focus {
      box-shadow: $focus-indicator;
      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }
  }

  &--light {
    color: $not-black-invert;

    @media (prefers-color-scheme: dark) {
      color: $not-black;
    }
  }
}
