@import '../Tokens/common';

/* stylelint-disable-next-line unit-blacklist, unit-disallowed-list */
$webkit-filter: saturate(180%) blur(20px);

@mixin navigation-bar-background-standard {
  background-color: $background-color-elevated-colored;
  backdrop-filter: unset;

  /* stylelint-disable-next-line */
  -webkit-backdrop-filter: unset;
}

@mixin navigation-bar-background-standard-dark {
  background-color: $background-color-elevated-colored-invert;
  backdrop-filter: unset;

  /* stylelint-disable-next-line */
  -webkit-backdrop-filter: unset;
}

@mixin navigation-bar-background-filtered {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: $webkit-filter;

  /* stylelint-disable-next-line */
  -webkit-backdrop-filter: $webkit-filter;
}

@mixin navigation-bar-background-filtered-dark {
  background-color: rgba(5, 13, 27, 0.7);
  backdrop-filter: $webkit-filter;

  /* stylelint-disable-next-line */
  -webkit-backdrop-filter: $webkit-filter;
}

.navigation-bar {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $navigation-bar-z-index;
    width: 100%;
    padding: 0.4rem 0.2rem;
    box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.173);

    @include navigation-bar-background-standard;

    @supports (backdrop-filter: blur(1rem)) or
      (-webkit-backdrop-filter: blur(1rem)) {
      @include navigation-bar-background-filtered;

      @media (prefers-reduced-transparency: reduce) {
        @include navigation-bar-background-standard;
      }
    }

    @media (prefers-color-scheme: dark) {
      border-bottom: 0.1rem transparent solid;
      border-color: $primary-color;
      border-color: var(--primary-color, $primary-color);
      box-shadow: unset;

      @include navigation-bar-background-standard-dark;

      @supports (backdrop-filter: blur(1rem)) or
        (-webkit-backdrop-filter: blur(1rem)) {
        @include navigation-bar-background-filtered-dark;

        @media (prefers-reduced-transparency: reduce) {
          @include navigation-bar-background-standard-dark;
        }
      }
    }
  }

  &__bar {
    @include page-container;
    @include page-container-centered;

    /* stylelint-disable-next-line order/order */
    display: flex;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
  }

  &__bar-placeholder {
    width: 100%;
    height: 4.3125rem;

    @include bpk-breakpoint-mobile {
      height: 3.875rem;
    }

    &--wrapping {
      @include bpk-breakpoint-mobile {
        height: 5.4375rem;
      }
    }
  }

  &__mobile-container {
    display: flex;
    width: 30%;

    &--left {
      justify-content: flex-start;
    }

    &--rgt {
      justify-content: flex-end;
    }
  }

  &__animated-container {
    position: fixed;
    top: 0;
    left: -50rem;
    display: flex;
    z-index: $navigation-bar-menu-z-index;
    width: 25rem;
    height: 100vh;
    justify-content: center;
    transition: left 0.4s;
    background-color: $background-color-elevated-colored;
    overflow: hidden;

    @include bpk-breakpoint-mobile {
      width: 100vw;
    }

    @media (prefers-color-scheme: dark) {
      border-right: 0.1rem transparent solid;
      border-color: $primary-color;
      border-color: var(--primary-color, $primary-color);
      background-color: $background-color-elevated-colored-invert;
    }

    &--open {
      left: 0;
    }
  }

  &__scrim {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $navigation-bar-scrim-z-index;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.4s;
    background-color: $background-color-invert;
    opacity: 0;

    @media (prefers-color-scheme: dark) {
      background-color: black;
    }

    &--open {
      opacity: 0.5;
    }
  }

  &__mobile-menu-container {
    display: flex;
    margin: 8rem 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  &__sidebar-menu-item {
    min-width: 0;
    margin-bottom: $spacing-base;
  }

  &__burger-button {
    z-index: $navigation-bar-z-index;
    width: 2rem;
    height: 2rem;

    &__line {
      background-color: $not-black;

      @media (prefers-color-scheme: dark) {
        background-color: $not-black-invert;
      }
    }
  }
}
