@import '../Tokens/common';

.section {
  &__outer {
    width: 100%;
    color: $not-black;
    text-decoration: none;

    @media (prefers-color-scheme: dark) {
      color: $not-black-invert;
    }
  }

  &__heading {
    margin: 3.34rem 0 0 0;
    font-size: 2.2rem;

    &--hovering {
      transition: all 0.4s;
      color: $primary-color;
      color: var(--primary-color, $primary-color);
    }

    &--with-anchor-link {
      @include bpk-breakpoint-tablet {
        padding-left: 1rem;
      }
    }

    &--no-padding {
      margin: 0;
    }

    &--disabled {
      color: $disabled-color;

      @media (prefers-color-scheme: dark) {
        color: $disabled-color-invert;
      }
    }

    &--link {
      border-radius: 0.25rem;

      &:focus,
      &:active,
      &:hover {
        color: $link-color-hover;
        color: var(--link-color-hover, $link-color-hover);
        font-weight: bold;
        text-decoration: none;
        fill: $link-color-hover;
        fill: var(--link-color-hover, $link-color-hover);
      }
    }
  }

  &__anchor-link {
    position: absolute;
    /* stylelint-disable-next-line unit-blacklist, unit-disallowed-list */
    margin-top: -2px;
    margin-left: -1.4rem;
    border-radius: 0.25rem;
    color: $link-color;
    color: var(--link-color, $link-color);
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.8rem;
    text-decoration: none;
    opacity: 0.4;

    @include bpk-breakpoint-tablet {
      /* stylelint-disable-next-line unit-blacklist, unit-disallowed-list */
      margin-left: -5px;
    }

    @media (prefers-color-scheme: dark) {
      opacity: 1;
    }

    &:active,
    &:focus {
      box-shadow: $focus-indicator;

      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }
  }
}
