@import '../Tokens/common';

.forms {
  &__component {
    margin-bottom: $spacing-base;

    &__text-box {
      width: 100%;
      box-sizing: border-box;
    }

    &__button {
      margin-top: $spacing-base;
    }

    &--inline {
      width: 15rem;
      margin-right: $spacing-base;
      margin-left: $spacing-base;
    }

    &__label {
      display: inline-block;
      width: 100%;
      margin: 0 0 $spacing-xs 0.1rem;
      color: $not-black;
      font-size: 1rem;
      font-weight: bold;

      @media (prefers-color-scheme: dark) {
        color: $not-black-invert;
      }
    }

    &__hint {
      display: inline-block;
      width: 100%;
      margin: 0 0 $spacing-xs 0.1rem;
      color: $not-black;
      font-size: 0.9rem;

      @media (prefers-color-scheme: dark) {
        color: $not-black-invert;
      }
    }
  }
}
