@import '../Tokens/common';

@keyframes example {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  &__container {
    display: flex;
    padding-bottom: 1rem;
    flex-direction: column;
    transition: transform 0.2s;
    border-radius: 0.25rem;
    outline: none;

    @include bpk-breakpoint-tablet {
      padding-right: 2rem;
      padding-left: 2rem;
      align-items: center;
    }

    &--centered {
      align-items: center;
    }

    &--no-padding {
      padding: 0;
    }
  }

  &__subheading {
    display: inline-block;
    border-radius: 0.25rem;
    color: #1e1e1e;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.6rem;

    &--light {
      color: $bpk-color-sky-gray-tint-06;
    }

    &--no-padding {
      line-height: normal;
    }

    &:focus,
    &:active,
    &:hover {
      box-shadow: $focus-indicator;

      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }

    &--animated {
      &:focus,
      &:active,
      &:hover {
        animation-duration: 0.4s;
        animation-name: example;
      }
    }
  }

  &__heading {
    display: inline-block;
    border-radius: 0.25rem;
    color: $primary-color;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 6rem;

    @media (prefers-color-scheme: dark) {
      color: $primary-color-invert;
    }

    &--smaller {
      font-size: 3.5rem;

      @include bpk-breakpoint-mobile {
        font-size: 3rem;
      }
    }

    &--no-padding {
      margin: 0;
      line-height: normal;
    }
    &:hover,
    &:active,
    &:focus {
      box-shadow: $focus-indicator;

      @media (prefers-color-scheme: dark) {
        box-shadow: $focus-indicator-invert;
      }
    }
  }
}
