@import '../Tokens/common';

$card-height: 14rem;

.info-cell {
  &__outer {
    display: flex;
    justify-content: space-around;
    background-color: $alternating-background-color-1;
    color: $not-black;
    font-family: 'Quattrocento Sans', sans-serif;

    @media (prefers-color-scheme: dark) {
      background-color: $alternating-background-color-1-invert;
      color: white;
    }

    &--dark {
      background-color: $alternating-background-color-2;

      @media (prefers-color-scheme: dark) {
        background-color: $alternating-background-color-2-invert;
        color: white;
      }
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 70rem;
    justify-content: space-around;
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    font-weight: inherit;
  }

  &__text-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__aux-outer {
    height: $card-height;
    overflow: hidden;
  }

  &__aux-inner {
    padding-top: $card-height;
    transition: all 2s ease-in-out;
    opacity: 0;

    &--visible {
      padding-top: 0;
      opacity: 1;
    }
  }

  &__aux {
    display: flex;
    height: $card-height;
    flex-direction: column;
    justify-content: end;
  }
}
