@import '../Tokens/common';

$card-height: 14rem;
$card-height-mobile: 10rem;

.info-cell {
  &__outer {
    display: flex;
    justify-content: space-around;
    background-color: $alternating-background-color-1;
    color: $not-black;

    @media (prefers-color-scheme: dark) {
      background-color: $alternating-background-color-1-invert;
      color: white;
    }

    &--dark {
      background-color: $alternating-background-color-2;

      @media (prefers-color-scheme: dark) {
        background-color: $alternating-background-color-2-invert;
        color: white;
      }
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 70rem;
    justify-content: space-around;

    @include bpk-breakpoint-mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin: 0;
    font-size: 3rem;
    font-weight: inherit;

    &--with-content {
      margin-bottom: $spacing-base;
    }
  }

  &__text-container {
    display: flex;
    min-width: 14rem;
    min-height: 8rem;
    padding: $spacing-base;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__aux-outer {
    height: $card-height;
    overflow: hidden;

    @include bpk-breakpoint-mobile {
      height: $card-height-mobile;
    }
  }

  &__aux-inner {
    padding-top: $card-height;
    transition: all 2s ease-in-out;
    opacity: 0;

    @include bpk-breakpoint-mobile {
      height: $card-height-mobile;
    }

    &--no-animation {
      transition: none;
    }

    &--visible {
      padding-top: 0;
      opacity: 1;
    }
  }

  &__aux {
    display: flex;
    height: $card-height;
    flex-direction: column;
    justify-content: end;

    @include bpk-breakpoint-mobile {
      height: $card-height-mobile;
    }
  }
}
