@import '../Tokens/common';

.page-title {
  &__heading {
    margin: 2.3rem 0 0 0;
    font-size: 2.4rem;
    font-weight: bold;

    &--with-link {
      margin-top: 1.5rem;
    }

    &--no-padding {
      margin: 0;
    }
  }

  &__link {
    margin: 1.5rem 0 0 0;

    &--no-padding {
      margin: 0;
    }
  }
}
