@import '../Tokens/common';

.page-title {
  &__heading {
    margin: $page-title-margin-top 0 0 0;
    font-size: $page-title-font-size;
    font-weight: bold;

    &--with-link {
      margin-top: $page-margin-top;
    }

    &--no-padding {
      margin: 0;
    }
  }

  &__link {
    margin: $page-margin-top 0 0 0;

    &--no-padding {
      margin: 0;
    }
  }
}
