@import '../Tokens/common';

.money-pot {
  display: flex;
  align-items: center;

  &__name {
    width: 9rem;
    margin-right: $spacing-base;
  }

  &__bar {
    position: relative;
    flex: 1;
  }

  &__percentage {
    width: 2.1rem;
    margin-left: 0.6rem;
    transition: all 0.4s;
    color: #44aeff;
    font-weight: bold;
  }
}
