@import '../Tokens/common';

.copy-button {
  &__outer {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    border: none;
    cursor: copy;
  }

  &__icon {
    color: $primary-color;
    fill: $primary-color;

    @media (prefers-color-scheme: dark) {
      color: var(--link-color-invert, $link-color-invert);
      color: $link-color-invert;
      fill: var(--link-color-invert, $link-color-invert);
      fill: $link-color-invert;
    }
  }
}
