@import '~normalize.css';
@import '../src/Tokens/common';

.global-wrapper {
  color: $not-black;
  font-family: 'Quattrocento Sans', -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    Arial, sans-serif;

  @media (prefers-color-scheme: dark) {
    color: $not-black-invert;
  }
}
