// bpk-token values
$bpk-color-panjin: #d1435b;
$bpk-color-monteverde: #00a698;
$bpk-color-sky-gray-tint-07: #f1f2f8;
$bpk-color-sky-gray-tint-01: #444560;
$primary-color: #0770e3;
$bpk-breakpoint-query-mobile: '(max-width: 32.25rem)' !default;
$bpk-breakpoint-query-tablet: '(max-width: 50.25rem)' !default;
/* stylelint-disable-next-line unit-blacklist */
$bpk-border-size-sm: 1px;
$bpk-border-radius-sm: 0.375rem;

$spacing-xs: 0.375rem;
$spacing-base: 1rem;
$spacing-lg: 2rem;

@mixin bpk-breakpoint-mobile {
  @media #{$bpk-breakpoint-query-mobile} {
    @content;
  }
}

@mixin bpk-breakpoint-tablet {
  @media #{$bpk-breakpoint-query-tablet} {
    @content;
  }
}

$primary-color-dark-invert: white;
$primary-color-really-dark: #002644;
$primary-color-dark: #005da3;
$primary-color-invert: white;
$primary-color-light: lightblue;
$primary-color-transparent: rgba(30, 50, 200, 0.15);
$primary-color: #44aeff;

$destructive-color: #e02626;
$destructive-color-dark: #9f1717;

$cta-color-dark-invert: #004479;
$cta-color-dark: #004880;
$cta-color-invert: #025ca2;
$cta-color: #0067b7;

$not-black: #1e1e1e;
$not-black-invert: white;

$shadow-color: rgba(37, 32, 31, 0.3);
$shadow-color-invert: transparent;

$background-color: white;
$background-color-invert: black;
$background-color-elevated: white;
$background-color-elevated-invert: #222324;
$background-color-elevated-colored: white;
$background-color-elevated-colored-invert: #050d1b;
$background-disabled-color: #cdcdd7;

$alternating-background-color-1: #f4f4f4;
$alternating-background-color-1-invert: #121313;
$alternating-background-color-2: #e3e3e8;
$alternating-background-color-2-invert: #191a1b;

$link-color: darkorchid;
$link-color-invert: orchid;
$link-color-hover: $primary-color;

$checkbox-tick-color: $primary-color;
$segmented-control-selected-color: $link-color;

$mobile-navigation-unfolded-height: 24rem;

$request-status-z-index: 1000;
$navigation-bar-z-index: 999;
$cookie-banner-z-index: 500;
$navigation-bar-menu-z-index: 998;
$navigation-bar-scrim-z-index: 997;
$focus-indicator: 0 0 0 0.2rem gray;
$focus-indicator-invert: 0 0 0 0.2rem #9f9f9f;

@mixin page-container() {
  width: 100%;
  max-width: 60rem;
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.875rem;
  padding-left: 1.875rem;

  @include bpk-breakpoint-tablet {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

@mixin page-container-centered() {
  text-align: center;

  @include page-container;
}

@keyframes gg-bounce-hover-effect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
