@import '~bpk-mixins';

$primary-color: #44aeff;
$primary-color-dark: #005da3;
$primary-color-invert: white;
$primary-color-dark-invert: white;
$destructive-color: #e02626;
$destructive-color-dark: #9f1717;

$primary-color-light: lightblue;
$primary-color-transparent: rgba(30, 50, 200, 0.15);

$cta-color: #0067b7;
$cta-color-dark: #004880;
$cta-color-invert: #025ca2;
$cta-color-dark-invert: #004479;

$not-black: #1e1e1e;
$not-black-invert: white;

$shadow-color: rgba(37, 32, 31, 0.3);
$shadow-color-invert: transparent;

$background-color: white;
$background-color-invert: black;
$background-color-elevated: white;
$background-color-elevated-invert: #222324;
$background-color-elevated-colored: white;
$background-color-elevated-colored-invert: #050d1b;
$background-disabled-color: #cdcdd7;

$alternating-background-color-1: #dbdbe5;
$alternating-background-color-1-invert: #222526;
$alternating-background-color-2: #bbbbc6;
$alternating-background-color-2-invert: #2c2e30;

$link-color: darkorchid;
$link-color-invert: orchid;

$mobile-navigation-unfolded-height: 24rem;

$request-status-z-index: 1000;
$navigation-bar-z-index: 999;
$cookie-banner-z-index: 500;
$navigation-bar-menu-z-index: 998;
$navigation-bar-scrim-z-index: 997;
$focus-indicator: 0 0 0 0.2rem gray;
$focus-indicator-invert: 0 0 0 0.2rem #9f9f9f;

@mixin page-container() {
  margin-top: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  @include bpk-breakpoint-tablet {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@mixin page-container-centered() {
  @include page-container;

  text-align: center;
}
