@import '../Tokens/common';

@keyframes gg-shim {
  from {
    left: -13rem;
  }
  to {
    left: calc(100vw + 13rem);
  }
}

.skeleton {
  &__outer {
    position: relative;
    width: 100%;
    border-radius: 0.25rem;
    background-color: rgb(238, 238, 238);
    overflow: hidden;

    @media (prefers-color-scheme: dark) {
      background-color: rgb(17, 17, 17);
    }
  }

  &__shimmer {
    position: absolute;
    top: 0;
    width: 13rem;
    height: 100vh;
    background-image: linear-gradient(
      90deg,
      rgb(238, 238, 238),
      rgb(245, 245, 245),
      rgb(238, 238, 238)
    );
    background-repeat: no-repeat;
    background-size: 12.5rem 100%;
    animation: gg-shim 3.5s ease-in-out infinite;

    @media (prefers-color-scheme: dark) {
      background-image: linear-gradient(
        90deg,
        rgb(17, 17, 17),
        rgb(50, 50, 50),
        rgb(17, 17, 17)
      );
    }
  }

  &__notification {
    width: 100%;
    height: 3rem;
  }

  &__subsection {
    width: 8rem;
    height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 2.6rem;
  }

  &__section {
    width: 8rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 2.6rem;
  }

  &__ticket-status {
    width: 100%;
    height: 22.4rem;
  }

  &__input {
    width: 100%;
    height: 1.8rem;
    margin-bottom: 1.2rem;
  }

  &__info-cell {
    width: 100%;
    height: 14rem;
    border-radius: 0;
  }

  &__checkbox {
    width: 10rem;
    height: 1.8rem;
    margin-bottom: 1.2rem;
  }

  &__form-label {
    width: 10rem;
    height: 1.125rem;
    margin-bottom: 0.375rem;
  }

  &__form-hint {
    width: 20rem;
    height: 0.8rem;
    margin-bottom: 0.375rem;
  }

  &__progress {
    width: 100%;
    height: 1rem;
    margin-bottom: $spacing-base;
    border-radius: 10rem;

    &--small {
      width: 100%;
      height: 0.5rem;
      margin-bottom: $spacing-base;
      border-radius: 10rem;
    }
  }

  &__text-link {
    width: 12rem;
    height: 0.5rem;
    margin-bottom: $spacing-base;
    border-radius: 10rem;
  }

  &__button {
    width: 12rem;
    height: 2.6rem;
    margin-bottom: 1.2rem;
    border-radius: 0.25rem;
    overflow: hidden;

    &--small {
      min-width: 5rem;
      height: 1.5rem;
      border-radius: 10rem;
      overflow: hidden;
    }
  }

  &__card {
    width: 100%;
    height: 10rem;
    margin-bottom: 1.2rem;

    &--compact {
      width: 100%;
      max-width: 25rem;
      height: 10rem;
      margin-bottom: 1.2rem;
    }
  }
}
