@import '~bpk-mixins';
@import '../Tokens/common';

.loading-cover {
  &__overlay {
    background-color: $background-color;
    z-index: 2;
    min-height: 3rem;

    @media (prefers-color-scheme: dark) {
      background-color: $background-color-invert;
    }
  }
}
