@import '~bpk-mixins';
@import '../Tokens/common';

.card {
  transition: all 0.4s;
  box-shadow: 0.2rem 0.2rem 0.5rem 0 $shadow-color;
  position: relative;
  width: 100%;
  border-radius: 0.35rem;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 3;

  &--disabled {
    background-color: gray;
  }

  @media (prefers-color-scheme: dark) {
    box-shadow: 0.44rem 0.44rem 1rem 0 $shadow-color-invert;
  }

  &:focus,
  &:active,
  &:hover {
    box-shadow: 0.4rem 0.4rem 1rem 0 $shadow-color;

    @media (prefers-color-scheme: dark) {
      box-shadow: 0.2rem 0.2rem 0.5rem 0 $shadow-color-invert;
    }
  }

  &__outer-container {
    &--padded {
      padding: 2rem;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    margin-top: -1rem;
    margin-left: -1rem;
    background-position: center;
    background-size: cover;
    background-color: $not-black-invert;

    @media (prefers-color-scheme: dark) {
      background-color: $not-black;
    }

    &--light {
      background-color: $background-color-elevated;

      @media (prefers-color-scheme: dark) {
        background-color: $background-color-elevated-invert;
      }
    }
  }

  &__banner {
    width: 0;
    height: 0.4rem;
    transition: all 0.4s;
    background-color: $primary-color;
    background-color: var(--primary-color, $primary-color);
    z-index: 3;

    &--light {
      background-color: var(--primary-color-light, $primary-color-light);
      background-color: $primary-color-light;
    }

    &--hovered {
      width: 100%;
      margin-left: 0;
    }
  }
}
